* {
    font-family: sans-serif;
}

body, html, .App {
    height: 100vh;
    font-size: 16px;
}

.primary-button {
    cursor: pointer;
    padding: 9px;
    font-weight: bold;
    border-radius: 7px;
    color: #fff;
    border: 1px solid transparent;
    background-color: #ff9900;
    text-align: center;
}

.primary-button:hover {
    color: #fff
}

.secondary-button {
    cursor: pointer;
    padding: 9px;
    font-weight: normal;
    border-radius: 7px;
    color: #ff9900;
    border: 1px solid #ff9900;
    background-color: transparent;
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 12%;
    left: 75%;
    z-index: 120;
    width: 80px;
}

.button-tertiary {
    cursor: pointer;
    padding: 9px;
    font-weight: bold;
    border-radius: 7px;
    color: #ff9900;
    border: 1px solid transparent;
    background-color: transparent;
    text-transform: uppercase;
}

.increase-decrease-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-weight: bold;
}

.last-section {
    padding-bottom: 120px;
}

.venues-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.to-top {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ff9900;
}

.logout-button {
    background-color: #fff;
    width:120px;
}

.form-content > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder,
.input-password-login::placeholder {
    color: #c2c2c2;
}

.carousel-image {
    min-width: 320px;
    max-width: 480px;
    height: auto;
}

input.guests-input {
    width: 60px;
    text-align: center;
}

/* Define styles for large displays */
@media screen and (min-width: 720px) {
    .venues-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
    }

    .desktop-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: baseline;
    }
}